@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  color-scheme: light dark;
  --main-title-color: light-dark(rgb(65, 45, 31), beige);
  --main-bg-color: light-dark(beige, #222);
  --main-txt-color: light-dark(black, white);
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: Montserrat;
}

/* Main title */
#title:hover {
    cursor: default;
}

#firstname,
#surname1,
#surname2 {
    margin: 0px;
    padding: 0px;
    color: var(--main-title-color);
}

#firstname:hover,
#surname1:hover,
#surname2:hover {
    cursor: default ;
}

/* FOSS Android tables */
.android-foss-table-container {
    overflow-x: auto;
    font-family: 'serif';
    margin-left: 20px;
    margin-right: 20px;
}

.android-foss-table {
    font-size: small;
    /* display: flex; */
    width: 100%;
    table-layout: fixed;
    /* border-collapse: collapse; */
}

td {
    text-align: center;
    /* border-bottom: 1px solid ivory; */
}

th {
    width: 130px;
}

.android-foss-table td:nth-child(1), th:nth-child(1) {  
  position: sticky;
  left: 0;
  background-color: var(--main-bg-color);
  text-align: left;
  width: 150px;
}

.green, .lgreen, .yellow, .lred, .red {
    color: black;
}

.green{
  background-color: #CEE6BB;
}

.lgreen{
  background-color: #E7F2DD;
}

.yellow{
  background-color: #E7DEB1;
}

.lred{
  background-color: #F5E0D6;
}

.red{
  background-color: #EBC1AD;
}

.title-row {
    padding-top: 40px;
    text-decoration: underline;
    font-weight: bold;
}

/* Portrait */
@media screen and (orientation:portrait) {

    #title { 
        /* 
        font-family: Helvetica;
        text-align: center;
        border-color: red;

        transform: scaleY(0.5); */
        /* width: 100vw; */
        /* min-height: 20vw;
        max-height: 20vw; */
        height: 23vw;
        /* background-color: aqua; */
        padding: 0px;
        /* text-align: center; */
        /* font-size: 25vw; */
        /* font-weight: bold; */
        /* position: relative;
        top: 0; */
        overflow: hidden;
        display: block;
        /* max-height: 20vh; */
    }

    #firstname {
        /* background-color: red; */
        max-width: 100%;
        height: 20vw;
        text-align: center;
        font-size: 28.69vw;
        font-weight: 900;
        /* transform: scaleX(1.36); */
        overflow: hidden;
        /* vertical-align: super; */
        line-height: 0.62;
        text-indent: -1.9vw;
        /* display: inline-block; */
    }

    #surname1 {
        float: left;
        text-indent: -0.25vw;
    }

    #surname2 {
        /* background-color: violet; */
        float: right;
        text-align: right;
        width: 50vw;
        /* height: 10vh; */
        position: relative;
        left: 4.3vw;
    }

    #surname1, #surname2 {
        font-size: 3.2vw;
        line-height: 0.62;
        font-weight: 700;
        letter-spacing: 4vw;
    }

    #main {
        margin: 3vh 10vw;
        padding: 0px;
        /* background-color: red; */
        text-align: center;
        display: block;
        height: 50vh;
        justify-content: center;
        align-items: center;
    }

    .thumbnail {
        height: 400px;
        width: 80vw;
        /* background-color: green; */
        margin: 20px 0px;
    }

    .android-foss-table td:nth-child(1), th:nth-child(1) {  
        width: 140px;
    }
}

/* Landscape */
@media screen and (orientation:landscape) {

    #title { 
        /* 
        font-family: Helvetica;
        text-align: center;
        border-color: red;

        transform: scaleY(0.5); */
        /* width: 100vw; */
        /* min-height: 20vw;
        max-height: 20vw; */
        height: 23vw;
        /* background-color: aqua; */
        padding: 0px;
        /* text-align: center; */
        /* font-size: 25vw; */
        /* font-weight: bold; */
        /* position: relative;
        top: 0; */
        overflow: hidden;
        display: block;
        /* max-height: 20vh; */
    }

    #firstname {
        /* background-color: red; */
        width: 100%;
        height: 11vw;
        text-align: center;
        font-size: 15vw;
        font-weight: 900;
        /* transform: scaleX(1.36); */
        overflow: hidden;
        /* vertical-align: super; */
        line-height: 0.62;
        text-indent: -1.9vw;
        /* display: inline-block; */
        /* letter-spacing: 9.72vw; */
        float: left;;
    }

    #surname1 {
        /* background-color: blueviolet; */
        float: left;
        text-indent: 22.9vw;
    }

    #surname2 {
        /* background-color: violet; */
        float: right;
        text-align: right;
        /* width: 50vw; */
        /* height: 10vh; */
        position: relative;
        right: 21.9vw;
    }

    #surname1, #surname2 {
        font-size: 2vw;
        /* line-height: 0.62; */
        font-weight: 700;
        letter-spacing: 2.5vw;
    }

    #main {
        margin: 0px 10vw;
        padding: 0px;
        /* background-color: red; */
        text-align: center;
        display: block;
        height: 50vh;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
    }

   .thumbnail {
        height: 400px;
        width: 400px;
        /* background-color: blue; */
        float: left;
        margin: 20px;
    }

    .android-foss-table td:nth-child(1), th:nth-child(1) {  
        width: 220px;
    }
}