body {
  background-color: lightblue;
}

/* element (and group) selector */
h1, h2, p {
  text-align: center;
  color: red;
}

/* id selector */
 #foss {
  text-align: center;
  color: green;
}

/* clsss selector */
.major {
  text-align: center;
}

p.major {
  color: red;
}

/* universal selector */
* {
  text-align: center;
  color: blue;
}

/* element only when inside other element (first is parent second is child) */

ul li {
  color: cyan
}

/* element state */
/* when hovered with mouse */
h2:hover {
  background-color: red;
}
/* when clicked */
h2:active {
  background-color: green;
}
/* also
<p onclick="myFunction()">Click to show panel</p> */

/* make nth row in a table a different color */
tr:nth-child(even){background-color: #f2f2f2;}

/* make table responsive (horizontally scrollable */
div.tablecontainer {
  overflow-x: auto;
}

/* clearfix hack */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}