@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #f5f5dc;
    padding: 0;
}

p {
    font-family: Montserrat;
}

.main-title { 
    /* 
    font-family: Helvetica;
    text-align: center;
    border-color: red;

    transform: scaleY(0.5); */
    /* width: 100vw; */
    /* min-height: 20vw;
    max-height: 20vw; */
    height: 23vw;
    /* background-scolor: aqua; */
    padding: 0px;
    text-align: center;
    /* font-size: 25vw; */
    font-weight: bold;
    position: relative;
    top: 0;
    overflow: hidden;
    /* max-height: 20vh; */
    
}

#firstname {
    /* background-color: red; */
    max-width: 100%;
    height: 20vw;
    text-align: center;
    font-size: 28.69vw;
    font-weight: 900;
    /* transform: scaleX(1.36); */
    overflow: hidden;
    /* vertical-align: super; */
    line-height: 0.62;
    text-indent: -1.9vw;
    /* display: inline-block; */
}

#surname1, #surname2 {
    font-size: 3.2vw;
    line-height: 0.62;
    font-weight: 700;
    letter-spacing: 4vw;
}

#surname1 {
    float: left;
    text-indent: -0.25vw;
}
#surname2 {
    /* background-color: violet; */
    float: right;
    text-align: right;
    width: 50vw;
    height: 10vh;
    position: relative;
    left: 4.3vw;
}

#firstname,
#surname1,
#surname2 {
    margin: 0px;
    padding: 0px;
    color: rgb(65, 45, 31);
}

#firstname:hover,
#surname1:hover,
#surname2:hover {
    cursor: default ;
}

.subtitle {
    width: 100%;
    height: 40vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle p {
    font-size: 4vh;
    font-weight: 500;
    color: rgb(65, 45, 31);
    padding: 0 10vw;
    text-align: center;
}